snippet foreach "foreach (var item in items) ..."
foreach (var ${2:loop-var} in ${1:collection})
{
	$3
}
endsnippet
snippet summary "<summary>...</summary>"
/// <summary>
///   $0
/// </summary>
endsnippet
snippet throw-NotImplementedException "throw new NotImplementedException()"
throw new NotImplementedException()
endsnippet
snippet yield-return "yield return"
yield return;
endsnippet
