snippet import-denoland "import { foo } from denoland://..."
import { ${5:improts} } from "https://deno.land/$1/${2:mod}@${3:version}/${4:path}";
endsnippet

snippet import "import { foo } from source"
import { ${5:imports} } from "${1:source}";
endsnippet
snippet unpack-object "const { foo } = bar;"
const { $0 } = $1;
endsnippet
snippet unpack-list "const [foo] = bar;"
const [$0] = $1;
endsnippet
